body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
 
}

.full-screen {
  height: 97vh;
  width: 100vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px auto auto auto auto ;
  grid-template-rows: 10vh auto;
  background-color: #ffffff;
  height: 100vh;
  padding: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
}

/* * grid components */
.header-container {
  display: grid;
  grid-area: 1 / 1 / span 1 / span 5;
  background-color: #FFFB87;
  padding: 15px;
  padding-left: 20px;
}

.header-icon{
  width: auto;
  height: 40px
}

.button-icon{
  color: black;
}




/* * MENU */
/* @media (max-width: 1000px) {
  .menu-button-label {
      visibility: hidden;
      display: none;
    }
  .menu-button {
    justify-self: center;
  }
} */

.menu-container {
  display: grid;
 
  grid-area: 2 / 1 / span 1 / span 1;
  padding: 15px;
  padding-right: 0px;
  background-color: #F2F4F6;
  display: grid;
  overflow: hidden;
   
}

  .menu-button {
    display: flex;
    color: #BCC1CB;
    border: none;
    align-content: center;
    margin: 15px;
    margin-top: 30px;
    background-color: #F2F4F6;
    font-size: 17px;
    transition: all 0.15s;
    height: 3vh;
  }

  .logout-btn{
    align-self: flex-start;
    justify-self: center;
  }

  .felx{
    display: flex;
    flex-direction: column;
  }

  .side-bar-grid{
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 30vh 10vh ;
  }

  .menu-button:hover {
    color: #464537;
    border: none;
   
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, #FFFB87 50%, #FFFB87 100%);
  }

  .menu-button-label{
    margin-left: 10px;
  }

.user-profile-container {
  grid-area: 2 / 2 / span 1 / span 4;
  padding: 25px;
  /* background-color: gray; */
}

  .image-grid{
    display: grid;
    grid-template-rows: 11vh 5vh 5vh 5vh 5vh;
    background-color: #ffffff;
  }
  

  .background{
    grid-area: 1 / 1 / span 3 / span 1;
    height: 150px;
    width: 100%;
    object-fit:cover;
    border: 0px solid #ccc;
    border-radius: 15px;
  }

  .profile-cell{
    display: flex;
    justify-content: center;
    grid-area: 2 / 1 / span 4 / span 1;
  }

  .profile-picture{
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 125px;
    height: 125px;
    top: 5%;
  }
  .edit-button{
    width: 40px;
    height: 40px;
    margin-top: 80px;
    margin-left: 105px;
    border-radius: 50%;
    border: 0px;
    background-color: #FFFB87;
  }

  .edit-button:hover{
    background-color: #fdf743;
  }

  .profile-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* grid-template-rows: 12vh 12vh 12vh 12vh 3vh 5vh 12vh 5vh; */
    background-color: #ffffff;
    padding: 0px;
   
  }
 
  @media (max-width: 900px) {
    .profile-form { 
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, 1fr);
      border: 1px solid rgb(0, 0, 0);
    }
    .line{
      /* grid-area: 5 / 1 / span 1 / span 1; */
    }
    
  }
  @media (max-width: 600px) {
    .profile-form { grid-template-columns:  1fr; 
    border: 1px solid rgb(0, 0, 0);;
    }
    
  }

  .profile-form-item {
    justify-content: center;
    align-content: center;
    padding: 5px;
    padding-left: 12px;
    padding-right: 13px;
  }

  .form-label{
    font-size: 13px;
    text-indent: 50px;
    font-weight: bold;
  }
  .input {
    border: 0px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #F0F2F4;
    min-height: 40px;
    width: 100%;
    text-indent: 10px;
    font-weight: bold;
    font-size: 13px;
    color: #353535;
    margin-top: 10px;
  }
  
  .line{
    /* grid-area: 5 / 1 / span 1 / span 3; */
  }

  .change-password-title{
    grid-area: 6 / 1 / span 1 / span 3;
    /* border: 3px solid rgba(0, 0, 0, 0.8); */
  }

  .change-password-label{
    font-size: 20px;
  }

  .change-password-form{
    grid-area: 7 / 1 / span 1 / span 3;
    /* border: 3px solid rgba(0, 0, 0, 0.8); */
  }

  .change-password-button-container{
    display: flex;
    justify-content: flex-end;
    grid-area: 8 / 1 / span 1 / span 3;
    /* border: 3px solid rgba(0, 0, 0, 0.8); */
    padding-right: 13px;
  }

  .save-button{
    display: inline-block;
    background-color: #FFFB87;
    border: 0px solid #ccc;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
   justify-self: right;
}

div:hover svg g{
  fill: red;
}
  

/* div {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(25, 0, 255);
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(25, 0, 255);
  box-shadow: inset 0px 0px 0px 2px rgb(25, 0, 255);
} */

.debug {
  /* border: 3px solid rgba(0, 0, 0, 0.8); */
}

.debug-profile {
  /* border: 3px solid rgba(0, 0, 0, 0.8); */
}
/* 
html { font-size: 22px; }
body { padding: 1rem; }
.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  } */
