body {
    font-family: Arial, sans-serif;
  }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  background-color: #FFFFFF;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 50px;
}

/* .header {
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
} */

.header-left{
    display: flex;
    justify-content: flex-end;
    grid-area: 1 / 1 / span 1 / span 1;
}

.header-right{
    grid-area: 1 / 2 / span 1 / span 1;
}

.icon-container{
    display: flex;
    align-items: center;
    margin-right: 400px;
    margin-left: 50px;
}

.login-container {
    display: flex;
    justify-self: end;
    justify-content: flex-end;
    grid-area: 2 / 1 / span 1 / span 1;
    
}

.login-container2{
    display: grid;
    justify-content: right;
    min-width: none;
}

.login-button-container{
    display: flex;
    justify-content: right;
    margin-left: 20px;
}


.login-image-container {
    grid-area: 2 / 2 / span 1 / span 1;
    margin-right: 0px;
}

.footer {
    grid-area: 3 / 1 / span 1 / span 2;
    display: flex;
    justify-content: center;
}
  
.grad {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, #FFFB87 50%, #FFFB87 100%);
}

.forgot-password { 
    text-decoration: none; 
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    color: #35A8FF;
    font-weight: bold;
}


.title {
  justify-content: start;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 51px;
  color: #2C2C2C;  
}

.input {
  border: 0px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #F0F2F4;
  min-height: 35px;
  min-width: 350px;
  text-indent: 10px;
  font-weight: bold;
  font-size: 11px;
}

.description {
  justify-content: end;
  margin: 20px;
  font-size: 21px;
  color: #8998AA;  
}

.icon {
  width: auto;
  height: 50%;
}

.input1{
    margin-bottom: 30px;
}
.input2{
    margin-bottom: 10px;
}

.illustration{
    max-width: auto;
    max-height: 500px;
}

.login-form{
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    display: flex;
    justify-content: right;
    margin-left: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
}


.login-form2{
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.login-button{
    display: inline-block;
    background-color: #FFFB87;
    border: 0px solid #ccc;
    border-radius: 10px;
    min-width: 350px;
    min-height: 35px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
    margin-top: 15px;
}


.form-label{
    font-size: 11px;
    text-indent: 50px;
    margin-left: 10px;
    font-weight: bold;
}

.footer-icon{
    /* margin-top: -50px; */
}

.debug{
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.debugOn{
    border: 1px solid rgba(0, 0, 0, 0.8);
}



