.g-container {
    /* display: grid;
    background-color: skyblue;
    grid-template-columns: repeat(2, 200px); */
    /* ​grid-template-rows: repeat(4, 200px); */
    /* column-gap: 34px; */
    ​
    /* grid-template-columns: (4, 200px); */
    /* grid-template-rows: 100px 50px 100px auto; */
    /* justify-content: center; */
}

​ .g-item {
    width: 200px;
    min-height: 80px;
    margin: 10px;
    border: 3px solid #333;
    background-color: sandybrown;
}

​ .g-item-1 {
    min-height: 80px;
    justify-self: start;
}