#first {
    color: #f08d61
}

.parent {
    color: blue;
    margin-top: 5px;
}

.details {
    font-size: 26px;
    margin-left: 100px;
    background-color: yellow;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    padding: 5px;
    margin-top: 5px;
    display: block;
}



/* ?elementul care are ca parinte un elemnt
? care are aplicata clasa parent  */

.parent>.details {
    font-weight: bold;
}


/*? toate paragrafele care au ca predecesor un span  */


/* span ~ p{
    color: purple;
} */


/*? doar primul */

span+p {
    color: purple;
}


/*? primul copil al oricarui span */

span:first-child {
    background-color: green;
}

span {
    font-style: italic;
}

p:hover {
    background-color: hotpink;
}

div:first-child {
    border-color: black;
    border-style: double;
    border: 2px;
}


/*! justify Ox align Oy */